.blog {
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        color: $primary-color-light;
    }
}

.title {
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
}

.background {
    width: 100%;
    height: 30em;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image {
    background-image: url(../images/horse.jpg);
}
.text {
    h3 {
        font-size: 1.2em;
        color: $purps;
        margin-bottom: 0;
    }
    p {
        color: $primary-color-light;
        margin-top: 0;
    }
}
