$primary-color: #777773 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
.background {
    width: 100%;
    height: 30em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-form {
    .input-field {
        padding: 0;
    }
    #textarea1 {
        min-height: 13.75rem;
    }
    h2 {
        color: $primary-color;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    label {
        font-size: 1.2rem;
    }
    .submit {
        width: 100%;
        background-color: white;
        border: 1px solid $purps;
        color: $purps;
    }
    .submit:hover {
        background-color: $purps;
        color: white;
    }
}

.grey-back {
    position: relative;
    height: 30em;
    //    background-color: $ltgrey;
    .grey-content {
        width: 90%;
        height: auto;
        @include centerer(absolute);
        .interests {
            h2 {
                color: $primary-color;
                font-size: 1.5em;
                margin-bottom: 0;
            }
            ul {
                li {
                    color: $primary-color-light;
                }
            }
        }
        .skills {
            h2 {
                color: $primary-color;
                font-size: 1.5em;
                margin-bottom: 0;
            }
            ul {
                li {
                    color: $primary-color-light;
                }
            }
        }
    }
}

.headshot {
    background-image: url(../images/Headshot.jpg);
}

.theo {
    background-image: url(../images/Theodore.jpg);
}

.snowboard {
    background-image: url(../images/snowboard.jpg);
}

.profile {
    h2 {
        color: $primary-color;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        color: $primary-color-light;
        padding-right: 1em;
    }
}

.contact {
    h2 {
        color: $primary-color;
        font-size: 1.5em;
        margin-bottom: 0;
    }
}

.info {
    h2 {
        color: $primary-color;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        font-size: 1em;
        color: $primary-color-light;
    }
}
