@mixin centerer($position: relative) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin h-center($position:relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin inline($float:left) {
    position: relative;
    display: inline-block;
    float: $float;
}

@mixin v-center($position:relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
