$thanks-width: 20em;
.thanks {
    height: 600px;
    position: relative;
    .thanks-content {
        height: auto;
        width: $thanks-width;
        @include h-center;
        h2 {
            color: $purps;
            font-size: 1.5em;
            margin-bottom: 0;
        }
        p {

            color: $primary-color-light;
        }
        .theo-pic {
            position: relative;
            width: 100%;
            height: $thanks-width;
            .theo-background {
                width: 100%;
                height: 100%;
                background-image: url(/images/theo.jpg);
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
            }
            .overlay {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: $ltgrey;
                opacity: 0;
                transition: 200ms ease-in-out;
                padding: 1.5em;
                .overlay-content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .center-content {
                        height: auto;
                        width: 100%;
                        @include v-center;
                        transform: translateY(0);
                        position: relative;
                        i {
                            font-size: 5em;
                            color: $primary-color-light;
                            @include h-center(absolute);
                            top: -1em;
                        }
                        h1 {
                            margin: 0;
                            font-style: normal;
                            font-family: 'Fira Sans';
                            font-size: 1.2em;
                            color: $primary-color-light;
                           text-align: center;

                        }
                    }
                }
            }
        }
        .theo-pic:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
}
