@import 'materialize';
@import 'mixins';
@import 'contact';
@import 'work';
@import 'testing';
@import 'blog';
@import 'ink';
@import 'thanks';
.dash {
    width: 2em;
    height: 2px;
    background-color: $primary-color-light;
    margin: 1em 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    //    background: linear-gradient(to right, white, lighten($purps, 50%));
}

.menu {
    width: auto;
    height: auto;
    @include centerer;
    text-align: center;
    span {
        margin: 0 1em;
        font-size: 2em;
        color: lighten($primary-color, 20%);
        cursor: pointer;
    }
    span:hover {
        color: darken(white, 5%);
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        span {
            display: block;
        }
    }
    .nav {
        height: 8em;
    }
}

.nav-show {
    opacity: 1;
}

.nav {
    height: 10em;
    position: relative;
    h1 {
        @include inline(left);
        margin: 0;
        @include v-center;
        color: $purps;
        font-size: 2em;
        font-family: 'Fira Sans';
        font-style: normal;
    }
    .menu-icon {
        z-index: 999;
        @include inline(right);
        @include v-center;
        width: 22px;
        height: 15px;
        position: relative;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        &.active {
            &.done span {
                &.top {
                    -webkit-transform: rotate(140deg);
                }
                &.bottom {
                    -webkit-transform: rotate(-140deg);
                }
            }
            span {
                &.top {
                    top: 7px;
                    -webkit-transform: rotate(160deg);
                }
                &.middle {
                    top: 6px;
                    opacity: 0.0;
                }
                &.bottom {
                    top: 7px;
                    -webkit-transform: rotate(-160deg);
                }
            }
        }
        &.done span {
            background-color: $primary-color-light;
            &.top {
                -webkit-transform: rotate(-10deg);
            }
            &.bottom {
                -webkit-transform: rotate(10deg);
            }
        }
        span {
            position: absolute;
            width: 100%;
            display: block;
            height: 3px;
            background-color: $purps;
            &.top {
                top: 0px;
                -webkit-transition: all 0.3s ease-in-out;
            }
            &.middle {
                top: 6px;
                -webkit-transition: all 0.2s ease-in-out;
            }
            &.bottom {
                top: 12px;
                -webkit-transition: all 0.3s ease-in-out;
            }
        }
    }
}

footer {
    margin-top: 2em;
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    i {
        font-size: 1.5em;
        color: $primary-color-light;
        margin-right: 1em;
    }
    i:hover {
        color: $purps;
    }
    p {
        color: $primary-color-light;
    }
}

.about {
    @include inline(left);
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        //        margin: 0;
        color: $primary-color-light;
    }
}

.contact {
    @include inline(right);
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    h3 {
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        color: $primary-color;
    }
    p {
        margin: 0;
        color: $primary-color-light;
        margin-bottom: 1.5em;
    }
}

.section {
    margin-top: 2em;
}

.projects {
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    .project {
        height: 25vw;
        position: relative;
        @media #{$small-and-down} {
            // styles for small screens and down
            height: 15em;
        }
        @media #{$medium-and-up} {
            // styles for medium screens and larger
        }
    }
    .project:hover {
        .overlay {
            opacity: 1;
        }
    }
    .row {
        margin-bottom: 0;
    }
    .col {
        padding: 12px;
        margin: 0;
        //        margin-bottom: 23px;
    }
    .background {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .padding {
        padding: 2vw;
        width: 100%;
        height: 100%;
        background-color: lighten($ltgrey, 3%);
        .background {
            background-size: contain;
        }
    }
    .overlay {
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        position: absolute;
        background-color: $ltgrey;
        opacity: 0;
        transition: 200ms ease-in-out;
        padding: 1.5em;
        h2 {
            color: $purps;
            font-size: 1.5em;
            margin-bottom: .5em;
        }
        p {
            color: $primary-color-light;
        }
    }
    .atlas {
        background-image: url(../images/BurnBabyBurn.jpg);
    }
    .mixinaid {
        background-image: url(../images/MixinAidLogo.png);
    }
    .pomp {
        background-image: url(../images/POMP-logo.png);
    }
    .ramsey {
        background-image: url(../images/ramsey-armstrong.jpg);
    }
}

.code {
    h2 {
        color: $purps;
        font-size: 1.5em;
        margin-bottom: 0;
    }
    iframe {
        margin-bottom: 2em;
    }
}
