<div class="row ">
    <div class="col s12">
        <div class="background headshot"></div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="background theo"></div>
    </div>
    <div class="col s12 m6">
        <div class="background snowboard"></div>
    </div>
</div>




<div class="row">
    <div class="profile col s12 m6">
        <h2>Profile</h2>
        <div class="dash"></div>
        <p>Jenna Ramsey is a UI designer and developer, and over the past two years has worked as a freelancer in addition to one of Austin's top start-up companies.</p>
        <p>Jenna is passionate about clean, elegant design and combines knowledge and experience to create beautiful and functional user interfaces. She wholeheartedly believes a user's experience should be enjoyable.</p>
    </div>
    <div class="interests col s12 m3">
        <h2>Interests</h2>
        <div class="dash"></div>
        <ul>
            <li>Animals</li>
            <li>Animal Welfare</li>
            <li>Veterinary Technology</li>
            <li>My dog, Theodore</li>
            <li>Snowboarding</li>
            <li>Music</li>
            <li>Travel</li>
            <li>Food</li>

        </ul>
    </div>
    <div class="skills col s12 m3">
        <h2>Skills</h2>
        <div class="dash"></div>
        <ul>
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe Invision</li>
            <li>Sketch</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Sass</li>
            <li>JS</li>
            <li>Wordpress</li>
        </ul>
    </div>
</div>
