<div class="row">
    <div class="about col s12 m5">
        <h2>About</h2>
        <div class="dash"></div>
        <p>Jenna Ramsey is a UI designer and developer, and over the past two years has worked as a freelancer in addition to one of Austin's top start-up companies.</p>
        <p>Jenna is passionate about clean, elegant design and combines knowledge and experience to create beautiful and functional user interfaces. She wholeheartedly believes a user's experience should be enjoyable.</p>
    </div>
    <div class="contact col s12 m5 offset-m2">
        <h2>Contact</h2>
        <div class="dash"></div>
        <div class="row">
            <div class="col s5">
                <h3>Email:</h3>
                <p>ramseykjenna@gmail.com</p>
                <h3>Phone:</h3>
                <p>(989).619.1441</p>
            </div>
            <div class="col s5 offset-s2">
                <h3>Github:</h3>
                <p>ramseykjenna</p>
            </div>
        </div>

    </div>
</div>


<div class="projects section">
    <h2>Work</h2>
    <div class="dash"></div>

    <!-- Row 1 -->
    <div class="row">
        <!-- Atlas -->
        <div class="project col s12 m6">
            <div class="background atlas"></div>
            <div class="overlay">
                <a target="_blank" href="https://www.atlaswearables.com/"><h2>Atlas Wearables</h2></a>
                <div class="dash"></div>
                <p>An Austin-based data analytics company and the developer of the most scientifically advanced fitness monitor. </p>

            </div>
        </div>

        <!-- Mixinaid -->
        <div class="project col s12 m6">
            <div class="padding">
                <div class="background mixinaid"></div>
            </div>
            <div class="overlay">
                <a target="_blank" href="https://mixinaid.firebaseapp.com/#/"><h2>MixinAid</h2></a>
                <div class="dash"></div>
                <p>A crowd sourced mixin library designed and developed by Jenna Ramsey.</p>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
        <!-- POMP -->
        <div class="project col s12 m6">
            <div class="padding">
                <div class="background pomp"></div>
            </div>
            <div class="overlay">
                <a target="_blank" href="https://peaceofmindpaint.com/#/"><h2>Peace of Mind Painting</h2></a>
                <div class="dash"></div>
                <p>A website built for a painting company located in Knoxville, TN.</p>
            </div>
        </div>
        <!-- Ramsey Armstrong -->
        <div class="project col s12 m6">
            <div class="background ramsey"></div>
            <div class="overlay">
                <a target="_blank" href="http://www.ramseyarmstrongwedding.com/"><h2>Ramsey Armstrong Wedding</h2></a>
                <div class="dash"></div>
                <p>A Wordpress theme website.</p>
            </div>
        </div>


    </div>

</div>


<div class="code section">
    <h2>Code</h2>
    <div class="dash"></div>
    <div class="row">
        <div class="col s12">
            <iframe height='500' scrolling='no' src='//codepen.io/ramseykjenna/embed/pbdjWb/?height=500&theme-id=light&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/pbdjWb/'>pbdjWb</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <div class="col s12">
            <iframe height='500' scrolling='no' src='//codepen.io/ramseykjenna/embed/xVVjbL/?height=500&theme-id=light&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/xVVjbL/'>Responsive Grid Column</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
        </div>

    </div>

</div>
