<div class="row">
    <div class="about col s12 m5">
        <h6>About</h6>
        <div class="dash"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur officia sit, aliquam aperiam quos, doloribus, architecto temporibus aut, animi placeat explicabo? Nihil, impedit quisquam aspernatur beatae! Dignissimos, repellendus, corporis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga consequuntur officia sit, aliquam aperiam quos, doloribus, architecto temporibus aut, animi placeat explicabo? Nihil, impedit quisquam aspernatur beatae! Dignissimos, repellendus, corporis.</p>
    </div>
    <div class="contact col s12 m5 offset-m2">
        <h6>Contact</h6>
        <div class="dash"></div>
        <div class="row">
            <div class="col s5">
                <h1>Email:</h1>
                <p>ramseykjenna@gmail.com</p>
                <h1>Phone:</h1>
                <p>(989).619.1441</p>
            </div>
            <div class="col s5 offset-s2">
                <h1>Github:</h1>
                <p>ramseykjenna</p>
            </div>
        </div>

    </div>
</div>


<div class="projects">
    <h6>Work</h6>
    <div class="dash"></div>

    <!-- Row 1 -->
    <div class="row">
        <!-- Atlas -->
        <div class="project col s12 m6">
        <div class="background atlas"></div>
        <div class="overlay"></div>
        </div>

        <!-- Mixinaid -->
        <div class="project col s12 m6">
            <div class="background mixinaid"></div>
            <div class="overlay"></div>
        </div>
    </div>

     <!-- Row 2 -->
    <div class="row">
        <!-- Ramsey Armstrong -->
        <div class="project col s12 m6">
            <div class="background ramsey"></div>
            <div class="overlay"></div>
        </div>

        <!-- POMP -->
        <div class="project col s12 m6">
            <div class="background pomp"></div>
            <div class="overlay"></div>
        </div>
    </div>

</div>
