<div class="thanks">
    <div class="thanks-content">
        <h2>Thank you for reaching out!</h2>
        <div class="dash"></div>
        <p>I will get back to you as soon as possible.</p>
<!--        <p>In the meantime, enjoy this picture of the cutest pup alive!</p>-->
        <div class="theo-pic">
            <div class="theo-background">

            </div>
            <a target="_blank" href="https://instagram.com/theothegsd">
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="center-content">
                            <i class="ion-social-instagram-outline"></i>
                           <br> <h1>@theothegsd</h1>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
