<div class="projects section">
    <h2>Work</h2>
    <div class="dash"></div>

    <!-- Row 1 -->
    <div class="row">
        <!-- Atlas -->
        <div class="project col s12 m6">
            <div class="background atlas"></div>
            <a target="_blank" href="https://www.atlaswearables.com/">
                <div class="overlay">
                    <h2>Atlas Wearables</h2>
                    <div class="dash"></div>
                    <p>An Austin-based data analytics company and the developer of the most scientifically advanced fitness monitor. </p>

                </div>
            </a>
        </div>

        <!-- Mixinaid -->
        <div class="project col s12 m6">
            <div class="padding">
                <div class="background mixinaid"></div>
            </div>
            <div class="overlay">
                <a target="_blank" href="https://mixinaid.firebaseapp.com/#/"><h2>MixinAid</h2></a>
                <div class="dash"></div>
                <p>A crowd sourced mixin library designed and developed by Jenna Ramsey.</p>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
        <!-- POMP -->
        <div class="project col s12 m6">
            <div class="padding">
                <div class="background pomp"></div>
            </div>
            <div class="overlay">
                <a target="_blank" href="https://peaceofmindpaint.com/#/"><h2>Peace of Mind Painting</h2></a>
                <div class="dash"></div>
                <p>A website built for a painting company located in Knoxville, TN.</p>
            </div>
        </div>
        <!-- Ramsey Armstrong -->
        <div class="project col s12 m6">
            <div class="background ramsey"></div>
            <div class="overlay">
                <a target="_blank" href="http://www.ramseyarmstrongwedding.com/"><h2>Ramsey Armstrong Wedding</h2></a>
                <div class="dash"></div>
                <p>A Wordpress theme website.</p>
            </div>
        </div>


    </div>

</div>
